= haml(:new, :layout => false)

#box
  %table
    %th Description
    %th Hours
    - @tasks.each do |t|
      %tr
        %td= t.desc
        - if !t.ended_at.nil?
          %td.center= "%.2f" % t.time_worked
        %td.center
          - if t.ended_at.nil?
            %a{:href => "/e/#{t.id}"}
              %img{:src => "/images/stop.png"}
    %td
      %p
        %strong Total time worked:
    %td.center= "%.2f" % @total

#footer
  %a{:href => "/clear"} clear all
